<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.study.mapper.ThingMapper">


    <select id="getList" resultType="com.gk.study.entity.Thing">
        select * from b_thing;
    </select>


</mapper>
<!-- 这个Mapper文件定义了一个select查询，用于从b_thing表中检索所有记录，
并将这些记录映射到com.gk.study.entity.Thing这个Java类上。-->